*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
}

header{
    display: flex;
    justify-content: center;
    height: 20rem;
    
}

.img {
    width: auto;
    
}

.show-characters {
  color: blueviolet;
  background-color: aquamarine;
  width: 5rem;
  height: auto;
  border-radius: 5px;
  border-color: black;
}
.show-characters:hover {
  color: yellowgreen;
  background-color: green;
  width: 5rem;
  height: auto;
}

.container-characters{
    background-color: white;
}