*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

body{
    background-image: url("./assets/petro-kosariekov-portal-gun-rick-and-morty2-2.gif");

    background-size: contain;
}

header{
    display: flex;
    justify-content: center;
    height: 20rem;
    
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;

}

.img {
    width: auto;
    
}

.show-characters {
  color: blueviolet;
  background-color: aquamarine;
  width: 5rem;
  height: auto;
  border-radius: 5px;
  border-color: black;
}
.show-characters:hover {
  color: yellowgreen;
  background-color: green;
  width: 5rem;
  height: auto;
}

.container-characters{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    justify-items: center;
    padding: 2rem;
    margin-bottom: 1rem;
}



.card-container{
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 15px;
    border: solid 5px rgb(34, 192, 197);
    background-color: black;

}