p{
    color: rgb(220, 169, 4);
    background-color: rgb(92, 92, 249);
    font-weight: bold;
    font-family: sans-serif;
}
p:hover{
    color: black;
    
}

h1{
    color: aqua;
    background-color: black;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.show-character{
    color: blueviolet;
    background-color: aquamarine;
    width: 50px;
    height: 30px;
    border-radius: 5px;
    border-color: black;
}
 .show-character:hover{
    color: yellowgreen;
    background-color: green;
    width: 60px;
    height: 40px;
 }